/* ==================== BUTTONS ==================== */

/* BACK TO TOP BUTTON */

.cont-btt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 2000;
}

.envol-btt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: var(--alt-color);
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.253);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.customshow {
  opacity: 1;
  visibility: visible;
}


/* HOME BUTTONS */

.bloq-hbuttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-top: 30px;
  align-items: center;
  justify-content: center;

  @include breakpoint(lg) {
    margin-left: -15px;
    justify-content: start;
  }
}

.pos-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px 0px;
}

.cont-hbuttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: center;

  @include breakpoint(lg) {
    justify-content: flex-start;
  }

  @include breakpoint(xl) {
    flex-wrap: nowrap;
  }
}

.div-button {
  width: 180px;
  margin: 15px;
}

/// No se realiza nesting para un acceso rapido por clase en caso de querer personalizar via CSS sin necesidad de usar SASS.

// Boton primario
.h-button {
  width: 100%;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
  font-size: var(--smaller-font-size);
  text-align: center;
  display: block;
  box-shadow: 0px 2px 6px 0px rgba(32, 32, 32, 0.733);
  background: var(--primary-color-dark);

  &:hover {
    background: var(--primary-color);
    color: var(--alt-color);
  }
}

// Boton secundario
.altbtn {
  @extend .h-button;
  background: linear-gradient(-180deg, rgb(230, 230, 255) 0%, rgb(211, 211, 255) 96%);
  color: var(--primary-color);

  &:hover {
    background: var(--primary-hover-color);
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
  }
}

// Boton alternativo

.bloq-cbut {
  padding-top: 30px;
  @include breakpoint(lg) {
    padding-top: 0;
  }
}

.cont-cbut {
  display: flex;
  align-items: center;
  position: relative;
}

.a-cbut {
  @extend .h-button;
  background: linear-gradient(-180deg, rgb(132, 103, 235) 0%, rgb(109, 36, 244) 96%);

  &:hover {
    background: linear-gradient(-180deg, rgba(152, 130, 231, 0.644) 0%, rgba(115, 51, 235, 0.568) 96%);
    color: map-get($colors, primary-color);
  }
}

.bloq-infobut {
  padding-bottom: 20px;
}

.a-cbut2 {
  @extend .a-cbut;
  &:hover {
    color: white
  }
}