@charset "UTF-8";
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  color-scheme: only light;
  /** Variables globales CSS **/
  /* colores */
  --primary-color: rgb(120, 9, 175);
  --primary-color-dark: rgb(82, 84, 147);
  --secondary-color: rgb(39, 66, 120);
  --alt-color: rgb(79, 197, 243);
  --primary-hover-color: rgba(85, 221, 255, 0.178);
  /* tamaño fuentes */
  --big-titles: 3.4rem;
  --normal-titles: 2.125rem;
  --small-titles: 1.625rem;
  --big-subtitles: 1.97rem;
  --normal-subtitles: 1.735rem;
  --small-subtitles: 1.485rem;
  --normal-font-size: 1.11rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.868rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-titles: 4.4rem;
    --normal-titles: 2.375rem;
    --small-titles: 1.75rem;
    --big-subtitles: 2.07rem;
    --normal-subtitles: 1.935rem;
    --small-subtitles: 1.685rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --big-titles: 5.91rem;
    --normal-titles: 3.4rem;
    --small-titles: 2.59rem;
    --big-subtitles: 2.27rem;
    --normal-subtitles: 2.035rem;
    --small-subtitles: 1.785rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 320px;
  background-color: rgb(255, 255, 255);
}

/** ------------------- ESTILOS PARA TODAS LAS PAGES ------------------- **/
/* ==================== BARRA DE NAVEGACION ==================== */
.custom-nb {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.055);
}

.navbar-brand {
  height: 60px;
  display: flex;
  align-items: center;
}

#brand-img {
  height: 40px;
}

.navbar-toggler {
  border: 0px;
  color: var(--primary-color-dark);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 1rem;
  }
}

.custom-navlink {
  color: black;
  line-height: 60px;
  padding: 0 5px;
  letter-spacing: 0.05rem;
}
.custom-navlink:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
}

/* ==================== FOOTER ==================== */
.bloq-footer {
  width: 100%;
  padding: 50px 0px;
  background-color: rgb(39, 66, 120);
}

.cont-footer {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0px auto;
}
@media screen and (min-width: 458px) {
  .cont-footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-footer {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-footer {
    width: 95%;
    max-width: 1400px;
  }
}

.cont-foott {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.cont-foott .foot-links {
  display: flex;
  align-items: center;
}
.cont-foott .foot-links .link-f {
  text-decoration: none;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  color: white;
}
.cont-foott .foot-links .link-f:hover {
  color: rgb(79, 197, 243);
}

.cont-footb {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .cont-footb {
    flex-direction: row-reverse;
  }
}
.cont-footb .bloq-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-footb .bloq-socials .link-socials {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.cont-footb .bloq-socials .link-socials .iconos-socials {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  color: var(--primary-color);
  background: linear-gradient(-180deg, rgb(230, 230, 255) 0%, rgb(211, 211, 255) 96%);
  border-radius: 10px;
}
.cont-footb .bloq-socials .link-socials .iconos-socials:hover {
  background: linear-gradient(-180deg, rgb(132, 103, 235) 0%, rgb(109, 36, 244) 96%);
  color: rgb(255, 255, 255);
}
.cont-footb .footer-content {
  display: flex;
  flex-direction: column;
  margin: 60px 0px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cont-footb .footer-content {
    flex-direction: row;
    margin: 0px;
  }
}
.cont-footb .footer-content .f-logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cont-footb .footer-content .f-logo {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}
.cont-footb .footer-content .f-logo .logowhite {
  width: 80px;
  height: auto;
}
.cont-footb .footer-content .contp-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: var(--smaller-font-size);
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .cont-footb .footer-content .contp-footer {
    flex-direction: row;
    margin: 0px;
  }
}
.cont-footb .footer-content .contp-footer .p-foot {
  margin: 0px;
  color: white;
}

/* ==================== BUTTONS ==================== */
/* BACK TO TOP BUTTON */
.cont-btt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 2000;
}

.envol-btt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: var(--alt-color);
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.253);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.customshow {
  opacity: 1;
  visibility: visible;
}

/* HOME BUTTONS */
.bloq-hbuttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .bloq-hbuttons {
    margin-left: -15px;
    justify-content: start;
  }
}

.pos-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px 0px;
}

.cont-hbuttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .cont-hbuttons {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1100px) {
  .cont-hbuttons {
    flex-wrap: nowrap;
  }
}

.div-button {
  width: 180px;
  margin: 15px;
}

.h-button, .a-cbut, .a-cbut2, .altbtn {
  width: 100%;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
  font-size: var(--smaller-font-size);
  text-align: center;
  display: block;
  box-shadow: 0px 2px 6px 0px rgba(32, 32, 32, 0.733);
  background: var(--primary-color-dark);
}
.h-button:hover, .a-cbut:hover, .a-cbut2:hover, .altbtn:hover {
  background: var(--primary-color);
  color: var(--alt-color);
}

.altbtn {
  background: linear-gradient(-180deg, rgb(230, 230, 255) 0%, rgb(211, 211, 255) 96%);
  color: var(--primary-color);
}
.altbtn:hover {
  background: var(--primary-hover-color);
  color: var(--primary-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

.bloq-cbut {
  padding-top: 30px;
}
@media screen and (min-width: 992px) {
  .bloq-cbut {
    padding-top: 0;
  }
}

.cont-cbut {
  display: flex;
  align-items: center;
  position: relative;
}

.a-cbut, .a-cbut2 {
  background: linear-gradient(-180deg, rgb(132, 103, 235) 0%, rgb(109, 36, 244) 96%);
}
.a-cbut:hover, .a-cbut2:hover {
  background: linear-gradient(-180deg, rgba(152, 130, 231, 0.644) 0%, rgba(115, 51, 235, 0.568) 96%);
  color: rgb(120, 9, 175);
}

.bloq-infobut {
  padding-bottom: 20px;
}

.a-cbut2:hover {
  color: white;
}

/** +++++++++++++++ INDEX.HTML +++++++++++++++ **/
/* ==================== INICIO ==================== */
.home-image {
  background-image: url(../img/backgroundwebv2.png);
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 60px;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .home-image {
    padding: 0px 0px 40px;
  }
}

.cont-home {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 458px) {
  .cont-home {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px auto;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .cont-home {
    padding: 160px 0px 0px;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-home {
    padding-top: 170px;
    width: 95%;
    max-width: 1400px;
  }
}
.cont-home .home-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .cont-home .home-text {
    max-width: 600px;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 60px;
  }
}

#title-home {
  width: 100%;
  color: var(--alt-color);
  font-size: var(--normal-titles);
  font-weight: 700;
}

#subtitle-home {
  width: 100%;
  color: var(--primary-color);
  font-size: var(--small-subtitles);
  font-weight: 600;
  padding-top: 5px;
}

#p-home {
  font-size: var(--small-font-size);
  color: var(--primary-color);
  padding-top: 20px;
  margin-bottom: 0px;
}

.bloq-pcimg {
  width: 100%;
  max-width: 640px;
  display: flex;
}

.cont-pcimg {
  padding: 10px 11% 80px;
  margin-top: 20px;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 458px) {
  .cont-pcimg {
    padding: 12px 11% 100px;
  }
}
@media screen and (min-width: 668px) {
  .cont-pcimg {
    margin-top: 40px;
    padding: 15px 10% 160px;
  }
}

.pcimg {
  background-image: url(../img/notebook-light-2.png);
  background-repeat: no-repeat;
  filter: brightness(0.97);
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.cont-bgpcimg {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 62.25%;
  overflow: hidden;
}
.cont-bgpcimg .bg-pcimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  object-fit: cover;
  border-radius: 5px;
  animation: fadein 2s cubic-bezier(0.23, 1, 0.32, 1) 0.1s 1 forwards;
  opacity: 0;
}

.bloq-intro {
  padding: 60px 0px;
  background: linear-gradient(10deg, rgba(58, 107, 255, 0.8) 0%, rgba(140, 158, 255, 0.8) 100%);
}

.cont-intro {
  width: 100%;
  color: white;
  text-shadow: 2px 2px 5px lightslategrey;
  text-align: center;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 992px) {
  .cont-intro {
    padding: 0px;
    max-width: 900px;
  }
}
.cont-intro .h2-intro {
  margin: 0px;
  font-size: var(--small-subtitles);
  font-weight: 600;
}
.cont-intro .p-intro {
  margin: 20px auto 0px;
  font-size: var(--small-font-size);
}

.bloq-stats {
  padding: 60px 0px;
  background: linear-gradient(10deg, rgba(207, 219, 255, 0.8) 0%, rgba(169, 182, 255, 0.8) 100%);
}
@media screen and (min-width: 458px) {
  .bloq-stats {
    padding: 80px 0px;
  }
}

.cont-stats {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-stats {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-stats {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-stats {
    width: 95%;
    max-width: 1400px;
  }
}

.pos-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px 0px;
}
.pos-stats .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  width: 220px;
  height: 100%;
}
.pos-stats .stats .icons-stats {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.pos-stats .stats .icons-stats .cont-istats {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.pos-stats .stats .p-stats {
  color: rgb(255, 255, 255);
  font-weight: 800;
  width: 100%;
  margin-top: 20px;
  font-size: var(--big-subtitles);
  text-shadow: 2px 2px 5px lightslategrey;
}
.pos-stats .stats .h2-stats {
  color: var(--primary-color);
  font-size: var(--small-font-size);
  width: 100%;
  margin-bottom: 0px;
  margin-top: 20px;
}
.pos-stats .stats .linea-stats {
  width: 24px;
  height: 1px;
  background-color: var(--primary-color);
  margin-top: 20px;
}

/** +++++++++++++++ NOSOTROS.HTML +++++++++++++++ **/
/* ==================== NOSOTROS ==================== */
.bloq-nosotros {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 60px;
  background: linear-gradient(rgba(109, 75, 177, 0.8), rgba(94, 129, 148, 0.8)), url(https://careerarc-com-wp1.s3.amazonaws.com/wp-content/uploads/2019/12/what-is-company-culture-expected-change-in-2020.jpeg) center center/cover no-repeat;
}
@media screen and (min-width: 458px) {
  .bloq-nosotros {
    padding: 0px 0px 80px;
  }
}

.cont-nosotros {
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-nosotros {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-nosotros {
    padding-top: 170px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .cont-nosotros {
    width: 95%;
    max-width: 1400px;
  }
}

.contnos-txt {
  padding: 20px 20px 5px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 458px) {
  .contnos-txt {
    border-width: 6px;
    padding: 40px 40px 20px;
  }
}
.contnos-txt .h1-nos {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--big-titles);
  font-weight: 700;
}
.contnos-txt .p-nos {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: var(--small-font-size);
}

.bloq-us {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cont-us {
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-us {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-us {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-us {
    width: 95%;
    max-width: 1400px;
  }
}

.bloq-imgtxt2 {
  padding-top: 40px;
}

.cont-img1, .cont-img2 {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .cont-img1, .cont-img2 {
    max-height: fit-content;
  }
}

.cont-ustxt, .cont-ustxt2 {
  text-align: center;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .cont-ustxt, .cont-ustxt2 {
    padding-left: 30px;
    max-width: 800px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-ustxt, .cont-ustxt2 {
    padding: 0px;
  }
}
.cont-ustxt .h2-us, .cont-ustxt2 .h2-us {
  margin: 0px;
  font-size: var(--small-subtitles);
  color: rgb(79, 197, 243);
  font-weight: 600;
}
.cont-ustxt .p-us, .cont-ustxt2 .p-us {
  margin: 20px auto 0px;
  font-size: var(--small-font-size);
  color: rgb(82, 84, 147);
}

@media screen and (min-width: 768px) {
  .cont-ustxt2 {
    padding-left: 0;
    padding-right: 30px;
  }
}

.bloq-get {
  display: flex;
  padding: 60px 0px;
  overflow: hidden;
  background: linear-gradient(10deg, rgba(207, 219, 255, 0.8) 0%, rgba(169, 182, 255, 0.8) 100%);
}
@media screen and (min-width: 458px) {
  .bloq-get {
    padding: 80px 0px;
  }
}

.cont-get {
  width: 100%;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 458px) {
  .cont-get {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-get {
    width: 90%;
    padding: 0;
    max-width: 1200px;
    flex-direction: row;
    max-width: 1100px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-get {
    width: 95%;
  }
}

.get-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 992px) {
  .get-txt {
    width: 80%;
    max-width: 550px;
  }
}
@media screen and (min-width: 1440px) {
  .get-txt {
    max-width: 800px;
  }
}
.get-txt .h1-get {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.735rem;
  width: 100%;
  color: rgb(39, 66, 120);
  margin-bottom: 0px;
  text-align: left;
  margin-top: 0px;
}
.get-txt .p-get {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  color: rgb(82, 84, 147);
  margin-top: 20px;
  text-align: left;
}

/** +++++++++++++++ SERVICIOS.HTML +++++++++++++++ **/
/* ==================== SERVICIOS ==================== */
.bloq-serv {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 60px;
  background: linear-gradient(rgba(53, 153, 179, 0.8), rgba(103, 143, 170, 0.8)), url(https://wallpaperaccess.com/full/1393237.jpg) center center/cover no-repeat;
}
@media screen and (min-width: 458px) {
  .bloq-serv {
    padding: 0px 0px 80px;
  }
}

.cont-serv {
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-serv {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-serv {
    padding-top: 170px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .cont-serv {
    width: 95%;
    max-width: 1400px;
  }
}

.contserv-txt {
  padding: 20px 20px 5px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 458px) {
  .contserv-txt {
    border-width: 6px;
    padding: 40px 40px 20px;
  }
}
.contserv-txt .h1-serv {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--big-titles);
  font-weight: 700;
}
.contserv-txt .p-serv {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: var(--small-font-size);
}

.bloq-cards {
  padding: 60px 0px;
  overflow: hidden;
  display: flex;
}
@media screen and (min-width: 458px) {
  .bloq-cards {
    padding: 80px 0px;
  }
}

.cont-cards {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-cards {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-cards {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-cards {
    width: 95%;
    max-width: 1400px;
  }
}

.tit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tit-card .h1-card {
  color: rgb(82, 84, 147);
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.125rem;
}
.tit-card .p-titcard {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  color: rgb(39, 66, 120);
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}

.cards {
  display: grid;
  grid-template-areas: "card1" "card2" "card3" "card4" "card5";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 210px;
  margin-top: -50px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .cards {
    grid-template-areas: "card1 card2" "card3 card4" "card5 card5";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    grid-template-areas: "card5 card1 card2" "card5 card3 card4";
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 1200px;
    margin: -50px auto 0px;
    padding-top: 50px;
    gap: 50px;
  }
}

.cardstyle {
  padding: 0px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cardstyle {
    padding: 10px;
  }
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5e {
  height: 100%;
  grid-area: card5;
  background: linear-gradient(rgba(92, 66, 141, 0.8), rgba(94, 129, 148, 0.8)), url(https://i0.wp.com/personalit.us/wp-content/uploads/2021/02/People-Meeting-with-laptops-862x519-1-800x450.jpeg) center center/cover no-repeat;
  border-radius: 15px;
  animation: fadein 2s cubic-bezier(0.23, 1, 0.32, 1) 0.1s 1 forwards;
}

.cardwrap-hov {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cardwrap-hov:hover {
  opacity: 1;
}
.cardwrap-hov .h2-card5 {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.735rem;
}

.card-icont {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.card-icont .card-i {
  margin-right: 1rem;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  background: linear-gradient(-180deg, rgb(230, 230, 255) 0%, rgb(211, 211, 255) 96%);
  box-shadow: rgba(36, 168, 244, 0.5) 0px 2px 6px 0px;
  font-size: 25px;
}
.card-icont .p-itxt {
  color: var(--alt-color);
  font-weight: 500;
  font-size: var(--normal-font-size);
}

.p-card {
  color: rgb(82, 84, 147);
  line-height: 1.4;
  width: 100%;
  text-align: left;
  padding-top: 20px;
}

/** +++++++++++++++ CLIENTES.HTML +++++++++++++++ **/
/* ==================== CLIENTES ==================== */
.bloq-hclientes {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 60px;
  background: linear-gradient(rgba(132, 35, 189, 0.8), rgba(145, 188, 216, 0.8)), url(https://www.linguahouse.com/linguafiles/md5/6b6acce3839a53e18ebc44cfedda132d) center center/cover no-repeat;
}
@media screen and (min-width: 458px) {
  .bloq-hclientes {
    padding: 0px 0px 80px;
  }
}

.cont-hclientes {
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 458px) {
  .cont-hclientes {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-hclientes {
    padding-top: 170px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .cont-hclientes {
    width: 95%;
    max-width: 1400px;
  }
}

.hclientes-txt {
  padding: 20px 20px 5px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 458px) {
  .hclientes-txt {
    border-width: 7px;
    padding: 40px 40px 20px;
  }
}
.hclientes-txt .h1-hclientes {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--big-titles);
  font-weight: 700;
}
.hclientes-txt .p-hclientes {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: var(--small-font-size);
}

.bloq-clientes, .bloq-comment {
  display: flex;
  overflow: hidden;
  background: linear-gradient(rgba(39, 66, 120, 0.795), rgba(76, 105, 124, 0.74)), url("../img/backgroundweb.png") center center/cover no-repeat;
  padding: 60px 0px;
}
@media screen and (min-width: 458px) {
  .bloq-clientes, .bloq-comment {
    padding: 80px 0px;
  }
}

.cont-clientes, .cont-comment {
  font-weight: 500;
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 458px) {
  .cont-clientes, .cont-comment {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-clientes, .cont-comment {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-clientes, .cont-comment {
    width: 95%;
    max-width: 1400px;
  }
}

.clientes-txt, .cardcom-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}
.clientes-txt .h2-clientes, .cardcom-txt .h2-clientes, .cardcom-txt .h2-cardcom {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 2.125rem;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}
.clientes-txt .p-clientes, .cardcom-txt .p-clientes, .cardcom-txt .p-cardcom {
  word-break: break-word;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: rgb(13, 232, 243);
  text-align: center;
  width: 100%;
  padding-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

.clientes-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -20px auto 0px;
  padding-top: 40px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .clientes-logos {
    padding-top: 50px;
  }
}
.clientes-logos .cont-logos {
  width: 24%;
  min-width: 210px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.clientes-logos .brands {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 120px;
  object-fit: contain;
}

.bloq-comment {
  background: url("../img/backgroundwebv2.png") center center/cover no-repeat;
}

@media screen and (min-width: 458px) {
  .cont-comment {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cont-comment {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .cont-comment {
    width: 95%;
    max-width: 1400px;
    max-width: 1600px;
  }
}

.cardcom-txt .h2-cardcom {
  color: rgb(120, 9, 175);
}
.cardcom-txt .p-cardcom {
  color: rgb(82, 84, 147);
}

.card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: -20px auto 0px;
  padding-top: 40px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .card-wrap {
    padding-top: 50px;
  }
}
.card-wrap .card-comment {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 210px;
  height: 210px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.card-wrap .card-comment:hover {
  transform: scale(1.055);
}
@media screen and (min-width: 668px) {
  .card-wrap .card-comment {
    width: 47%;
  }
  .card-wrap .card-comment:hover {
    transform: scale(1.125);
  }
}
@media screen and (min-width: 992px) {
  .card-wrap .card-comment {
    max-width: 480px;
  }
}
@media screen and (min-width: 1440px) {
  .card-wrap .card-comment {
    max-width: 410px;
  }
}
.card-wrap .card-comment .card-filter {
  backdrop-filter: blur(5px) saturate(180%);
  min-width: 210px;
  height: 210px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.card-wrap .card-comment .cont-cardtxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  height: 210px;
}
.card-wrap .card-comment .cont-cardtxt .p-commentsmall {
  font-size: 0.868rem;
  margin-bottom: 0;
}

/** +++++++++++++++ CONTACTO.HTML +++++++++++++++ **/
/* ==================== FORM Y MAP ==================== */
.bloq-contact {
  padding: 120px 0px;
}

.cont-form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 0px 20px;
}
@media screen and (min-width: 668px) {
  .cont-form {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .cont-form {
    width: 100%;
  }
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 5%;
  background-color: var(--bs-gray-200);
}
.form .h2-contact {
  color: var(--alt-color);
  font-weight: 600;
  font-size: 2.125rem;
}
.form label {
  display: block;
  margin-top: 20px;
  color: var(--primary-color);
}
.form .custom-input:focus {
  border-color: var(--primary-color-dark);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(120, 9, 175, 0.2);
}
.form textarea, .form input[type=text],
.form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  color: black;
  border: 1px solid var(--primary-color-dark);
  border-radius: 5px;
  resize: none;
}
.form #asunto {
  min-height: 200px;
  resize: vertical;
  max-height: 300px;
}
.form .wrap-ccheck {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 0;
  width: 82%;
}
@media screen and (min-width: 458px) {
  .form .wrap-ccheck {
    width: 55%;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1100px) {
  .form .wrap-ccheck {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .form .wrap-ccheck {
    width: 40%;
  }
}
.form .custom-check {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: white;
}
.form .custom-check:focus {
  border-color: var(--primary-color-dark);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(120, 9, 175, 0.2);
}
.form .custom-check:hover {
  background-color: rgba(120, 9, 175, 0.2);
}
.form .custom-check:checked {
  background-color: var(--primary-color);
}
.form .custom-check:checked::after {
  display: block;
}
.form .custom-check::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 15px;
  color: white;
  display: none;
}
.form .check-label {
  margin: 0;
  font-size: var(--smaller-font-size);
}
.form input[type=submit] {
  background-color: var(--primary-color-dark);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 668px) {
  .form input[type=submit] {
    width: 40%;
  }
}
.form input[type=submit]:hover {
  background-color: var(--primary-color);
  color: var(--alt-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

@media screen and (min-width: 992px) {
  .g-map {
    margin-left: 5%;
  }
}
.g-map .txt-map {
  padding: 20px 0px;
  color: var(--alt-color);
  font-weight: 600;
  font-size: 2.125rem;
}
.g-map iframe {
  width: 100%;
  height: 500px;
  border: 1px solid rgb(79, 197, 243);
  border-radius: 5px;
}

/*# sourceMappingURL=estilo.css.map */
