/** +++++++++++++++ CONTACTO.HTML +++++++++++++++ **/

/* ==================== FORM Y MAP ==================== */

.bloq-contact {
  padding: 120px 0px;
}

.cont-form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 0px 20px;

  @include breakpoint(sm1) {
    width: 80%;
  }

  @include breakpoint(lg) {
    width: 100%;
  }
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 5%;
  background-color: var(--bs-gray-200);

  .h2-contact {
    color: var(--alt-color);
    font-weight: 600;
    font-size: map-get($font-size, normal-titles);
  }

  label {
    display: block;
    margin-top: 20px;
    color: var(--primary-color);
  }

  .custom-input:focus {
    border-color: var(--primary-color-dark);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(120, 9, 175, 0.2);
  }


  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    color: black;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
    resize: none;
  }

  #asunto {
    min-height: 200px;
    resize: vertical;
    max-height: 300px;
  }

  input[type='text'],
  input[type='email'] {
    @extend textarea;
  }

  .wrap-ccheck {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 0;
    width: 82%;

    @include breakpoint(sm) {
      width: 55%;
      justify-content: space-evenly;
    }

    @include breakpoint(xl) {
      width: 50%;
    }

    @include breakpoint(xxl) {
      width: 40%;
    }
  }

  .custom-check {
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: white;

    &:focus {
      border-color: var(--primary-color-dark);
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(120, 9, 175, 0.2);
    }

    &:hover {
      background-color: rgba(120, 9, 175, 0.2);
    }

    &:checked {
      background-color: var(--primary-color);

      &::after {
        display: block;
      }
    }

    &::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f00c";
      font-size: 15px;
      color: white;
      display: none;
    }
  }

  .check-label {
    margin: 0;
    font-size: var(--smaller-font-size);
  }

  input[type='submit'] {
    background-color: var(--primary-color-dark);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;

    @include breakpoint(sm1) {
      width: 40%;
    }

    &:hover {
      background-color: var(--primary-color);
      color: var(--alt-color);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    }
  }

}

.g-map {
  @include breakpoint(lg) {
    margin-left: 5%;
  }

  .txt-map {
    padding: 20px 0px;
    color: var(--alt-color);
    font-weight: 600;
    font-size: map-get($font-size, normal-titles);
  }

  iframe {
    width: 100%;
    height: 500px;
    border: 1px solid map-get($colors, alt-color);
    border-radius: 5px;

  }
}