/** +++++++++++++++ CONTACTO.HTML +++++++++++++++ **/

/* ==================== FORM Y MAP ==================== */

.bloq-contact {
  padding: 120px 0px;
}

.cont-form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 0px 20px;

  @include breakpoint(sm1) {
    width: 80%;
  }
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 5%;
  background-color: var(--bs-gray-200);

  .h2-contact {
    color: var(--alt-color);
    font-weight: 600;
    font-size: map-get($font-size, normal-titles);
  }

  label {
    display: block;
    margin-top: 20px;
    color: var(--primary-color);
    width: 100%;
  }

  .custom-input:focus {
    border-color: var(--primary-color-dark);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(120, 9, 175, 0.2);
  }


  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    color: black;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
    resize: none;
  }

  input[type='text'],
  input[type='email'] {
    @extend textarea;
  }

  input[type='submit'] {
    background-color: var(--primary-color-dark);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;

    @include breakpoint(sm1) {
      width: 40%;
    }

    &:hover {
      background-color: var(--primary-color);
      color: var(--alt-color);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    }
  }

}

#asunto {
  min-height: 200px;
  resize: vertical;
  max-height: 300px;
}

.g-map {
  @include breakpoint(lg) {
    margin-left: 5%;
  }

  .txt-map {
    padding: 20px 0px;
    color: var(--alt-color);
    font-weight: 600;
    font-size: map-get($font-size, normal-titles);
  }

  iframe {
    width: 100%;
    height: 500px;
    border: 1px solid map-get($colors, alt-color);
    border-radius: 5px;

  }
}