/** +++++++++++++++ SERVICIOS.HTML +++++++++++++++ **/

/* ==================== SERVICIOS ==================== */

.bloq-serv {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 60px;
  background: linear-gradient(rgba(53, 153, 179, 0.8), rgba(103, 143, 170, 0.8)), url(https://wallpaperaccess.com/full/1393237.jpg) center center / cover no-repeat;

  @include breakpoint(sm) {
    padding: 0px 0px 80px;
  }
}

.cont-serv {
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;

  @include breakpoint(sm) {
    padding-top: 150px;
    @include cont-(sm);
  }

  @include breakpoint(lg) {
    padding-top: 170px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    width: 90%;
  }

  @include breakpoint(xxl) {
    @include cont-(xxl);
  }
}

.contserv-txt {
  padding: 20px 20px 5px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include breakpoint(sm) {
    border-width: 6px;
    padding: 40px 40px 20px;
  }

  .h1-serv {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--big-titles);
    font-weight: 700;
  }

  .p-serv {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--small-font-size);
  }
}

.bloq-cards {
  padding: 60px 0px;
  overflow: hidden;
  display: flex;

  @include breakpoint(sm) {
    padding: 80px 0px;
  }
}

.cont-cards {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  width: 100%;

  @include breakpoint(sm) {
    @include cont-(sm);
  }

  @include breakpoint(lg) {
    @include cont-(lg);
  }

  @include breakpoint(xxl) {
    @include cont-(xxl);
  }
}

.tit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .h1-card {
    color: map-get($colors, primary-color-dark);
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: map-get($font-size, normal-titles);
  }

  .p-titcard {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: map-get($colors, secondary-color);
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: map-get($font-size, small-font-size);
  }
}

.cards {
  display: grid;
  grid-template-areas:
    'card1'
    'card2'
    'card3'
    'card4'
    'card5';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 210px;
  margin-top: -50px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include breakpoint(md) {
    grid-template-areas:
      'card1 card2'
      'card3 card4'
      'card5 card5';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
  }

  @include breakpoint(lg) {
    grid-template-areas:
      'card5 card1 card2'
      'card5 card3 card4';
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 1200px;
    margin: -50px auto 0px;
    padding-top: 50px;
    gap: 50px;
  }
}

.cardstyle {
  padding: 0px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include breakpoint(md) {
    padding: 10px;
  }
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5e {
  height: 100%;
  grid-area: card5;
  background: linear-gradient(rgba(92, 66, 141, 0.8), rgba(94, 129, 148, 0.8)),
    url(https://i0.wp.com/personalit.us/wp-content/uploads/2021/02/People-Meeting-with-laptops-862x519-1-800x450.jpeg) center center / cover no-repeat;
  border-radius: 15px;
  animation: fadein 2s cubic-bezier(0.23, 1, 0.320, 1) 0.1s 1 forwards;
}

.cardwrap-hov {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

  .h2-card5 {
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-size: map-get($font-size, normal-subtitles);

  }
}

.card-icont {
  display: flex;
  align-items: center;
  margin-top: 0px;

  .card-i {
    margin-right: 1rem;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    background: linear-gradient(-180deg, rgb(230, 230, 255) 0%, rgb(211, 211, 255) 96%);
    box-shadow: rgb(36 168 244 / 50%) 0px 2px 6px 0px;
    font-size: 25px;
  }

  .p-itxt {
    color: var(--alt-color);
    font-weight: 500;
    font-size: var(--normal-font-size)
  }
}

.p-card {
  color: map-get($colors, primary-color-dark);
  line-height: 1.4;
  width: 100%;
  text-align: left;
  padding-top: 20px;
}